<li>
	<table class="table table-bordered">
	<tr>
        <th rowspan="2" style="width:50px; height:30px;"><%= image_tag user.avatar_url.to_s, :id => 'profile' %></th>
		<th>Name:</th>
		<th>User Type:</th>
        <th>
            <% if user.user_type == 1 %>
            <h5>Student Email: </h5>
            <% end %>
            <% if user.user_type == 2 %>
            <h5>Faculty Email: </h5>
            <% end %>
            <% if user.user_type == 3 %>
            <h5>Committee Email: </h5>
             <% end %>
        </th>
		<th style="width:130px;">Ranking:</th>
	</tr>
	<tr>
	<th><%= link_to user.first_name + " " + user.last_name, user %></th>
	<td>
    <% if user.user_type == 1 %>
    <h4>Student Applicant</h4>
    <% end %>
    <% if user.user_type == 2 %>
    <h4>Faculty Member</h4>
    <% end %>
    <% if user.user_type == 3 %>
    <h4>Committee Member</h4>
    <% end %>
    </td>
    <td>
        <%= user.email %>
    </td>
   	<td>
	   rank
    </td>
    </tr>
    </table>
</li>