<% provide(:title, 'All Recommendations') %>
<h1>All Recommendations Submitted</h1>

<%# Index for Faculty Members to view completed thier own reccomendations %>
<section>
<%= will_paginate %>

<ul class="users"> <!-- this will change when you figure out css structure -->
	<%= render @facultyrecs %> 
</ul>

<%= will_paginate %>
</section>

