<footer class="footer">
	<small>
		<a href="http://www.babson.edu">Babson College</a>
		by Van Nguyen
	</small>
	<nav>
		<ul>
			<li><a href="http://www.babson.edu">News</li>
		</ul>
	</nav>
</footer>